{{#section 'head'}}
	<title>Jennifer Lu | About</title>
	<link rel='stylesheet' href='/stylesheets/about.css' />
{{/section}}

<div class="container-fluid" id="main">
 	<div class="row">
 		<div class="col-md-12">
 			<img class="me" src="images/about/me_drawing.jpg" alt="me"/>
 		</div>
 		
	</div>
<div class="row">
	<div class="col-md-12 meblurb">
 			<h2 class="about-title highlight">Hello there! I'm Jennifer.</h2>
 				<p> I'm a first year Master's student studying Computer Science at Stanford University graduating
 					in June 2017. I'm hoping to specialize in HCI (Human Computer Interaction) or Artificial Intellegience or maybe both!</p>
 				<p>	I received my BS in Computer Science from UC San Diego, home of carne asada fries and beautiful beaches. </p>

                	<p>I am from the Bay Area, 
                    born in Palo Alto and raised in Cupertino. I decided to pursue
                    computer science after taking an intro class during winter quarter
                    of my freshman year because I loved being able to make things and solve challenging problems.
                </p>
                <h3 class="highlight">Experience </h3>
                <p> Read more about my experience at Intuit, Microsoft, Women in Computing, and tutoring at my <a href="https://www.linkedin.com/pub/jennifer-lu/4b/195/853" class="link" target="_">LinkedIn</a>.</p>
                <h3 class="highlight">Fun Facts </h3>
                <p> In my free time, I like sketching and painting. I also enjoy doing aerial silk, watching musicals, and making nail art. I am always up for trying new things!<br>
                I drew the portrait of myself above back in October 2011. I focused on a specific part of my
                facial features each time and then pieced it together.</p>
 		</div>
 	</div>
</div>