{{#section 'head'}}
	<title>Jennifer Lu | Art</title>
	<link rel='stylesheet' href='/stylesheets/art.css' />
{{/section}}

<div id="content">
	<div class="grid">
		<figure class="effect-lily">
			<img src="images/sprite.jpg" alt="spriteart"/>
			<figcaption class="white">
				<div>
					<h2>Untitled <span>Art</span></h2>
					<p>Acrylic paint</p>
				</div>
				<a href="#">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-lily">
			<img src="images/velasquez.jpg" alt="spriteart"/>
			<figcaption class="white">
				<div>
					<h2>Assimilate <span>Art</span></h2>
					<p>Oil paint</p>
				</div>
				<a href="#">View more</a>
			</figcaption>			
		</figure>
	</div>
</div>
