{{#section 'head'}}
	<title>Jennifer Lu | Contact</title>
	<link rel='stylesheet' href='/stylesheets/contact.css' />
{{/section}}

<div class="container-fluid" id="main">
 	<div class="row">
 		<h2>In progress... In the meantime, you can reach me at jenylu [at] stanford.edu </h2>
	</div>
</div>