<!doctype html>
<html>
<head>
	<title>Jennifer Lu | ExtraSensory</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:semibold|Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='public/stylesheets/layout.css' />

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="public/stylesheets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="public/stylesheets/bootstrap-theme.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<link rel='stylesheet' href='public/stylesheets/grubbery.css' />
    <link rel="stylesheet" type="text/css" href="public/stylesheets/normalize.css" />
  <!--  <script src="public/js/modernizr.custom.js"></script> -->

</head>

<body>
      <div class="wrapper">
 <header>
    <!--   <a href="#home" class="logo" data-scroll>Jennifer Lu</a> -->
       <h1 class="centerlogo">
      <a href="index.html" title="How you doin'?" role="bookmark" data-content-field="site-title">
        <img class="logo" src="public/images/JL_Logo3.png" alt="Jennifer Lu"></span>       
      </a>
    </h1>
      <nav class="nav-collapse">
        <ul class="navigation">
          <li class="homeselected"><a href="index.html">HOME</a></li>
          <li class="workselected"><a href="work.html">WORK</a></li>
          <li class="artselected"><a href="art.html">ART</a></li>
          <li class="aboutselected"><a href="about.html">ABOUT</a></li>
          <li class="contactselected"><a href="contact.html">CONTACT</a></li>
        </ul>
      </nav>
    </header>
</div>

<div class="container-fluid" id="main">
 <div class="row">
    <div class="title"> 
      <h2>ExtraSensory REU: Context-Recognition Application using Mobile Sensors</h2>
      <h4 class="grey">Date: Oct 2014- June 2015<h4> 
    </div>
</div>

<div class="projectBlurb">       
	Under the REU (Research Experience for Undergraduates) program, I worked in Gert Lanckriet's lab under two of his PhD students. The ultimate goal was to create a mobile application that would predict the actions, mood, and setting of a user based on mobile sensors like GPS, speedometer, and motion detection.<br><br>
	To do this, I worked on the iOS and Android mobile application, ExtraSensory to collect a rich data set in order to improve the context-recognition algorithm.

	<br><br>
	
</div>

<div class="row images">
	<div class="col-md-4">
		<img style="margin-top: 5px;height:490px;width: 240px;" src="public/images/grubbery/grubbery_search.jpg" alt="grubbery_search"/>
	</div>
	<div class="col-md-4">
		<img style="width: 250px;" src="public/images/grubbery/grubbery_results.jpg" alt="grubbery_details"/>
	</div>
	<div class="col-md-4">
		<img style= "width: 250px;" src="public/images/grubbery/grubbery_details.jpg" alt="grubbery_results"/>
	</div>
</div>

<img src="public/images/extrasensory/es_ourwork.png" alt="ourwork"/>

<div class="projectBlurb">
	<br><br>
	Students with busy schedules often end up eating poorly throughout their days. 
	There should be an easy way to maintain your dietary goals on campus. Grubbery 
	helps you find food that fits your time constraints and your 
	nutritional goals. We’ve classified meals into a number of categories. Let's say 
	you're a vegan looking to gain lean muscle. You’re in ERC, you’re hungry, and 
	you’ve got 10 minutes until class. Grubbery can find you a perfect 
	meal.
	<br><br>
	<a class="link" target="_" href="http://grubbery.herokuapp.com/">Check it out here!</a>
	<br>
	<h4>The database account we had to store search results has expired so unfortunately you can't browse much through the site but feel free to explore what there is! <h4>
</div>

</div>

 <footer class="footer-basic-centered">

      <div class="contactLinks">
        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.linkedin.com/pub/jennifer-lu/4b/195/853" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/jenylu" target="_blank"><i class="fa fa-github"></i></a>
      </div>

      <p class="footer-company-name">Jennifer Lu &copy; 2015</p>

    </footer>

	 <script src="https://code.jquery.com/jquery.js"></script>
    <script src="public/js/bootstrap.js"></script>

      <script src="public/js/responsive-nav.js"></script>
 
</body>
</html>