{{#section 'head'}}
	<title>Jennifer Lu | Grubbery</title>
	<link rel='stylesheet' href='/stylesheets/grubbery.css' />
{{/section}}

<div class="container-fluid" id="main">
 <div class="row">
    <div class="title"> 
      <h2>Grubbery: A mobile web application</h2>
      <h4 class="grey">Date: Winter 2015<h4> 
    </div>
</div>

<div class="projectBlurb">       
	Grubbery is a mobile web app for UC San Diego students looking for cheap, healthy, and quick food close to their location. <br>
	<br>
	
</div>

<div class="row images">
	<div class="col-md-4">
		<img style="margin-top: 5px;height:490px;width: 240px;" src="images/grubbery/grubbery_search.jpg" alt="grubbery_search"/>
	</div>
	<div class="col-md-4">
		<img style="width: 250px;" src="images/grubbery/grubbery_results.jpg" alt="grubbery_details"/>
	</div>
	<div class="col-md-4">
		<img style= "width: 250px;" src="images/grubbery/grubbery_details.jpg" alt="grubbery_results"/>
	</div>
</div>

<div class="projectBlurb">
	<br><br>
	Students with busy schedules often end up eating poorly throughout their days. 
	There should be an easy way to maintain your dietary goals on campus. Grubbery 
	helps you find food that fits your time constraints and your 
	nutritional goals. We’ve classified meals into a number of categories. Let's say 
	you're a vegan looking to gain lean muscle. You’re in ERC, you’re hungry, and 
	you’ve got 10 minutes until class. Grubbery can find you a perfect 
	meal.
	<br><br>
	<a class="link" target="_" href="http://grubbery.herokuapp.com/">Check it out here!</a>
	<br>
	<h4>The database account we had to store search results has expired so unfortunately you can't browse much through the site but feel free to explore what there is! <h4>
</div>

</div>