{{#section 'head'}}
	<title>Jennifer Lu | Work</title>
	<link rel='stylesheet' href='/stylesheets/work.css' />
{{/section}}


<div id="content">

<div class="grid">
	<figure class="effect-lily">
		<img src="images/grubbery_home.gif" alt="img12"/>
		<figcaption class="black">
			<div>
				<h2>Grubbery <span>HCI</span></h2>
				<p>Mobile Phone App</p>
			</div>
			<a href="/grubbery">View more</a>
		</figcaption>			
	</figure>
	<figure class="effect-lily">
		<img src="images/es_grey.gif" alt="img1"/>
		<figcaption class="white">
			<div>
				<h2>ExtraSensory <span>REU</span></h2>
				<p>Mobile app</p>
			</div>
			<a href="#">View more</a>
		</figcaption>			
	</figure>
	<figure class="effect-lily">
		<img style="width: 600px" src="images/eyelluminate.png" alt="img1"/>
		<figcaption class="black">
			<div>
				<h2>Eyelluminati <span>HCI</span></h2>
				<p>Browsing the web with eye tracking</p>
			</div>
			<a href="#">View more</a>
		</figcaption>			
	</figure>
	<figure class="effect-lily">
		<img src="images/vino.jpg" alt="img1"/>
		<figcaption class="black">
			<div>
				<h2>Vino <span>Mobile</span></h2>
				<p>Android app</p>
			</div>
			<a href="#">View more</a>
		</figcaption>			
	</figure>
	<figure class="effect-lily">
		<img style="height: 360px" src="images/spotktv_mockup.gif" alt="img1"/>
		<figcaption class="black">
			<div>
				<h2>Spot KTV <span>WebDev</span></h2>
				<p>Website for local KTV and restaurant</p>
			</div>
			<a href="#">View more</a>
		</figcaption>			
	</figure>
	<figure class="effect-lily">
		<img src="images/josh.jpg" alt="img1"/>
		<figcaption class="black">
			<div>
				<h2>Cali Trek <span>WebDev</span></h2>
				<p>For the Nature Lovers</p>
			</div>
			<a href="#">View more</a>
		</figcaption>			
	</figure>
</div>

</div>