li.workselected a { color: #F20500; }

.link:visited {
    text-decoration: none;
}

h2 {
	color: #F20500;
}

.title {
    text-align: justify;
    margin: 30px 20px 0 24px;
}

.grey {
    color:#606060;
}

.link {
    color: #F20500;
}

.link:hover {
    text-decoration: none;
    color:#606060;
}

.grubberyimages img {
    margin-top: 5px; 
    width: 250px;
    height:490px;
}

.esimages img {
    margin-top: 5px; 
    height: 450px;
}